* {
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.boundary{
    display: flex;
    border: solid darkred;
}

.coffee-container{
    display: flex;
    border: solid darkblue;
    height: 28em;
    width: 30em;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

}

.coffee-items{
    display: inline;
    background: paleturquoise;
    border: 2px solid #F9EFD6;
    padding: 1em;
    height: 8em;
    width:12em;
    font-size: 10px;

}

.coffee-selections{
    display: block;
    border: solid darkgreen;
    width: 30em;
    text-align: center;
    position: relative;
    left: 25%

}